@import url("mainApp.css");

.activeCell {
	-fx-background-color: rgb(14, 122, 254, 1) !important;
}

.activeRow {
	-fx-border-color: rgb(14,122,254,1) !important;
	-fx-border-style: solid;
	-fx-border-width: 2 0 0 0 !important;
	-fx-border-insets: 0 -5 0 -5;
	-fx-cursor: hand;
	-fx-background-color: #fcfcfc;
}

.addNewTextField {
	-fx-border-color: none;
	-fx-background-color: none;
}

.calendarDateNumber{
	-fx-font-size: 25;
}

.calendarTime{
	-fx-font-size: 12;
	-fx-text-fill: grey;
}

.inactiveCell {
	-fx-border-insets: 0 -5 0 -5;
	-fx-border-style: solid;
	-fx-border-width: 1 0 0 0;
	-fx-border-color: #dbdbdb;
	-fx-cursor: hand;
	-fx-background-color: white;
}

.inactiveCell:hover {
	-fx-background-color: rgb(14, 122, 254, 0.2);
}

.leftPane {
	-fx-border-style: solid;
	-fx-border-width: 0 5 0 0;
	-fx-border-color: #f8f8f8;
}

.stepBig {
	-fx-font-size: 30;
}

.stepSmall {
	-fx-font-size: 14;
}

.timeBlock {
	-fx-padding: 0 0 0 20;
}